<md-dialog aria-label="Password Generator">

	<form layout="column">
		<!-- Object Type -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Generate New Password</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
					<md-icon md-svg-icon="close-white" aria-label="close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<div layout-padding>

		    <md-dialog-content >


				<md-slider-container>
					<span>Length</span>
					<md-slider flex min="1" max="100" ng-model="vm.config.length" aria-label="password length" id="length-slider">
					</md-slider>
					
					<md-input-container>
						<input flex type="number" ng-model="vm.config.length" aria-label="length" aria-controls="length-slider">
					</md-input-container>
				</md-slider-container>


				<md-switch ng-model="vm.config.tables.lowerCase" aria-label="use lower case">
					Use lower case letters (a-z)
				</md-switch>

				<md-switch ng-model="vm.config.tables.upperCase" aria-label="use upper case">
					Use upper case letters (A-Z)
				</md-switch>

				<md-switch ng-model="vm.config.tables.digits" aria-label="use letters">
					Use digits(0-9)
				</md-switch>

				<md-switch ng-model="vm.config.tables.signs" aria-label="use signs">
					Use signs (_, -, + etc.)
				</md-switch>

			</md-dialog-content>


	   	</div>

		<md-dialog-actions layout="row">
			<md-button class="md-primary" ng-click="vm.cancel()" >
				Cancel
			</md-button>
			<md-button class="md-primary md-raised" ng-click="vm.submit()" style="margin-right:20px;" >
				Submit
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>