.password-attrib {
	font-style: italic;
}

.reset-spacing {
	margin: 0;
	padding: 0;
}

.reset-spacing-top {
	margin-top: 0;
	padding-top: 0;
}

.reset-spacing-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.card-head-padding-button{
	padding-bottom: 30px;
}

.float-fab {
	margin-top: 20px;
}

.suppress-uppercase{
	text-transform: none;
}

.text-left{
	text-align:left;
}

.allow-wrap{
	white-space: normal;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}