<!DOCTYPE html>

<div ui-view="sidenav" layout="row" ></div>

<div flex layout="column" class="grey-background">

	<md-toolbar>
		<div ng-show="!vm.searching" class="md-toolbar-tools">
			<h2>
				<span>{{vm.selectedCategory}}</span>
			</h2>
			<span flex></span>

			<md-button ng-click="vm.search()" class="md-icon-button" aria-label="More">
				<md-icon md-svg-icon="img/icons/search-white.svg"></md-icon>
			</md-button>
		</div>

		<div ng-show="vm.searching" class="md-toolbar-tools">

			<md-input-container layout-fill style="padding-top:15px" aria-label="search">
				<input ng-model="vm.filter" aria-label="Search for password">
			</md-input-container>

			<md-button ng-click="vm.search()" class="md-icon-button" aria-label="More">
				<md-icon md-svg-icon="img/icons/close-white.svg"></md-icon>
			</md-button>

		</div>
	</md-toolbar>


	<md-content layout-fill class="grey-background">	
		<md-list>
			<div ng-repeat="entry in vm.entries | filter:vm.filter" ng-class="{ 'md-whiteframe-z3': entry.id === vm.selectedIndex, 'list-selected': entry.id === vm.selectedIndex} ">
				
				<md-list-item ng-click="vm.select(entry.id)">
					<p> {{entry.title}} </p>
					<div ng-cloak>
						<md-icon md-svg-icon="toggle-arrow-up" 		ng-show="entry.id === vm.selectedIndex"></md-icon>
						<md-icon md-svg-icon="toggle-arrow-down" 	ng-show="entry.id !== vm.selectedIndex"></md-icon>
					</div>
					<md-divider></md-divider>
				</md-list-item>

				<div layout-padding ng-show="entry.id === vm.selectedIndex" layout="column" flex-gt-sm="40" style="padding-top: 25px; padding-left:14px"> <!-- Expanded Password Content -->
					

					<md-input-container layout-fill class="reset-spacing" ng-show="vm.isVisible(entry.username)">
						<label>Username</label>
						<input value="{{entry.username}}" readonly>
					</md-input-container>

					<div flex="100" layout="row" class="reset-spacing">
						<!-- Eh, probably not the best way to do this... -->
						<!-- Shows filler input when password is still decrypted -->
						<div flex>
							<md-input-container layout-fill ng-hide="entry.decryptedPassword !== undefined"  class="reset-spacing" >
								<label>Password</label>
								<input value="********" readonly >
							</md-input-container>
							
							<!-- Seen when the actual password is decrypted -->
							<md-input-container layout-fill ng-show="entry.decryptedPassword !== undefined"  class="reset-spacing">
								<label>Password</label>
								<input value="{{entry.decryptedPassword}}" readonly >
							</md-input-container>
						</div>
						


						<div flex="nogrow" layout-align="end center">
							<md-button ng-click="vm.show(entry)" ng-show="entry.decryptedPassword === undefined" class="reset-spacing"> Show </md-button>
							<md-button ng-click="vm.hide(entry)" ng-show="entry.decryptedPassword !== undefined" class="reset-spacing"> Hide </md-button>
						</div>
					</div>

					<md-input-container class="reset-spacing" ng-show="vm.isVisible(entry.url)" >
						<label>URL</label>
						<input value="{{entry.url}}" readonly >
					</md-input-container>


					<md-input-container class="reset-spacing" ng-show="vm.isVisible(entry.note)"> 
						<label>Note</label>
						<textarea readonly>{{entry.note}}</textarea>
					</md-input-container>

					<div ng-show="entry.shared !== undefined && entry.shared.length > 0">
						<h1 class="md-caption">This password is shared with</h1>
						<md-chips ng-model="entry.shared" name="username" readonly="true" md-max-chips="5">
							<md-chip-template>
								{{$chip.username}}
							</md-chip-template>
						</md-chips>
					</div>


					<!-- Edit and Delete Buttons -->
					<div class="reset-spacing">
						<md-button class="md-primary" ng-click="vm.edit(entry.id)">Edit</md-button>
						<md-button class="md-warn md-hue-2" ng-click="vm.del(entry.id)">Delete</md-button>
					</div>

				</div><!-- End Expanded Password Content -->
				<md-divider ng-show="entry.id === vm.selectedIndex"></md-divider>

			</div>
		</md-list>
	</md-content>

	<md-button  ng-href="/add" class="md-fab float-fab ghost-fab" aria-label="Mini FAB">
		<md-icon md-svg-src="img/icons/add.svg"></md-icon>
	</md-button>

</div>