<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')" ng-cloak>
	<md-toolbar class="md-tall md-hue-1">
		
		<!-- 	
		<div layout="row" layout-padding>
			<img class="md-avatar" ng-src="img/default-avatar.png" height="75" alt="{{item.who}}"> 
		</div>
		-->
		<div layout="column" class="md-toolbar-tools-bottom" style="padding-left:10px; padding-top: 10px">

			<div flex layout="row">		
				<img class="md-avatar" ng-src="img/default-avatar.png" height="70"> 
			</div>

			<!-- Menu -->
			<div flex layout="row">
				<h4 class="md-subhead" >Username</h4>
				<span flex></span>

				<md-menu md-position-mode="target-right target" >
					<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
						<md-icon md-menu-origin md-svg-icon="toggle-arrow-down"></md-icon>
					</md-button>

					<md-menu-content width="4" >
						<md-menu-item ng-repeat="item in vm.userMenu">
							<md-button ng-click="vm.selectMenu(item)">
								<div layout="row">
									<p flex>{{item}}</p>
									<md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
								</div>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</div>



	</md-toolbar>
	<div layout="row">
		<md-button class="md-primary md-mini md-hue-2" aria-label="Add Category" ng-click="vm.category.add($event)">
				<md-icon md-svg-icon="add-black"></md-icon>
		</md-button>

		<md-button class="md-primary md-mini md-hue-2" aria-label="Delete Category">
				<md-icon md-svg-icon="remove-black"></md-icon>
		</md-button>
		
		<md-button class="md-primary md-mini md-hue-2" aria-label="Edit Category">
				<md-icon md-svg-icon="edit-black"></md-icon>
		</md-button>
	</div>
	
	<md-divider></md-divider>

	<md-content>
		<tree-menu data="vm.categories" on-select='vm.treeSelect' ></tree-menu>
	</md-content>
	
	
</md-sidenav>