<md-content id="addUser" flex="60" flex-offset="20" layout="column" layout-align="start center" layout-padding >
	<section class="md-whiteframe-z1"  height="100%" width="100" layout-fill flex="noshrink"	>

			<md-toolbar >
				<div class="md-toolbar-tools">
					<h3>
						<span ng-bind="vm.config.text.title"></span>
					</h3>
				</div>
			</md-toolbar>


			<form name="userForm" novalidate ng-submit="userForm.$valid && vm.submit()" class="md-inline-form">

				<!-- Username Input -->
				<md-input-container class="md-block">
					<label>Username</label>
					<input ng-model="vm.user.username" name="username" ng-disabled="!vm.enabled">
				</md-input-container>

				<md-input-container class="md-block">
					<label ng-bind="vm.config.text.password"></label>
					<input type="password" required ng-model="vm.user.password" name="password" ng-disabled="!vm.enabled">

					<div ng-messages="userForm.password.$error" multiple>
						<div ng-message="required">It is required to input your password, to perform any changes.</div>
						<div ng-message="invalid">Invalid password</div>
					</div>
				</md-input-container>

				<!-- Repeat password, for add and invite/accept -->
				<md-input-container class="md-block" ng-if="vm.config.add">
					<label ng-bind="vm.config.text.repeatPssword"></label>
					<input type="password" required ng-model="vm.repeat.password" name="repeatPassword" ng-disabled="!vm.enabled" equals="vm.user.password">

					<div ng-messages="userForm.repeatPassword.$error" multiple>
						<div ng-message="required">It is required to input your password, to perform any changes.</div>
						<div ng-message="invalid">Invalid password</div>
						<div ng-message="equals">The passwords must be identical!</div>
					</div>
				</md-input-container>


				<!-- Two Factor Controls -->
				<div ng-if="vm.config.edit">
				<md-switch class="md-primary" ng-model="vm.user.two_factor_enabled" aria-label="Switch Two Factor" ng-change="vm.onChange()">
					Enable Two-Factor Authorization
				</md-switch>
				</div>


				<!-- Controls for changing password, only for edditing -->
				<div ng-if="vm.config.edit">
				<md-subheader class="md-hue-1">Change your password</md-subheader>

				<md-input-container class="md-block">
					<label>New password</label>
					<input type="password" ng-model="vm.new.password" name="newPassword" ng-disabled="!vm.enabled" >
				</md-input-container>

				<md-input-container class="md-block">
					<label>Repeat New password</label>
					<!-- equals="vm.new.password"-->
					<input type="password"  ng-model="vm.new.passwordRepeat" ng-match="vm.new.password" name="newPasswordRepeated" ng-disabled="!vm.enabled" >

					<div ng-messages="userForm.newPasswordRepeated.$error">
						<ng-message when="equals">The passwords does not match</ng-message>
					</div>
				</md-input-container>
				</div> <!-- Changing Password Ends -->

				<!-- Controls for managing encryption keys -->
				<md-subheader class="md-hue-1">Encryption Keys</md-subheader>

				<md-input-container class="md-block">
					<label>New Decryption Password</label>
					<input type="password" ng-model="vm.encryption.decryptionPassword" name="decryptionPassword" ng-disabled="!vm.enabled">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Repeat Decryption Password</label>
					<input type="password" ng-model="vm.encryption.decryptionRepeatPassword" equals="vm.encryption.decryptionPassword" name="decryptionRepeatPassword" ng-disabled="!vm.enabled">

					<div ng-messages="userForm.decryptionRepeatPassword.$error" multiple>
						<div ng-message="equals">The decryption passwords must be identical!</div>
					</div>
				</md-input-container>




				<!-- Generating new encryption key is only for edditing -->
				<div ng-if="vm.config.edit && false">
				<md-input-container class="md-block">
					<md-switch ng-model="vm.encryption.generateNewEncryptionKey" class="md-primary" aria-label="Generate encryption keys" ng-disabled="!vm.enabled">
					Generate new encryption keys <b><i>(WILL take some time)</i></b>
					</md-switch>
				</md-input-container>
				</div> <!-- End of generate encryption key -->


				<!-- Buttons -->
				<div ng-show="vm.enabled">
					<md-button type="submit" class="md-primary md-raised" ng-disabled="!vm.enabled" ng-bind="vm.config.text.submit"></md-button>
					<md-button ng-click="vm.cancel()" class="md-primary md-raised" ng-disabled="!vm.enabled"> Cancel </md-button>
				</div>
				<!-- Loading -->

				<div ng-show="!vm.enabled">
					<md-progress-circular ng-show="!vm.enabled"></md-progress-circular>
					<p>Please wait... This might take some time.</p>
				</div>
					
			</form>

	</section>

</md-content>
