
<md-content flex-gt-sm="60" flex-offset-gt-sm="20" flex="100" flex-offset="0" layout="column" layout-align="start center" layout-padding  class="md-whiteframe-z1">
		
		<!-- Default Toolbar -->
		<md-toolbar class="md-table-toolbar" ng-show="vm.state === 'default'" class="md-table-toolbar md-primary md-hue-1">
		  <div class="md-toolbar-tools">
		    <span>Users</span>
		    <span flex></span>
			<md-button class="md-icon-button" ng-show="vm.selected.length === 0" aria-label="back" ng-click="vm.setState('search')">
				<md-icon md-svg-icon="search-white"></md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-hide="vm.selected.length === 0"  aria-label="back" ng-click="vm.deleteUsers()">
				<md-icon md-svg-icon="delete-white"></md-icon>
			</md-button>
		  </div>
		</md-toolbar>

		<!-- Search Toolbar -->
		<md-toolbar class="md-table-toolbar" layout="row" ng-show="vm.state === 'search' && vm.selected.length === 0" class="md-table-toolbar md-primary md-hue-1">
		  	<div class="md-toolbar-tools" layout-fill>
				
				<md-input-container layout-fill style="padding-top:15px">
					<input ng-model="vm.search" aria-label="Search for User">
				</md-input-container>	
	
			   	<span flex></span>
	
				<md-button ng-if="!vm.menu" class="md-icon-button" aria-label="back" ng-click="vm.setState('default')">
					<md-icon md-svg-icon="close-black"></md-icon>
				</md-button>
	  
			</div>
		</md-toolbar>



		<md-table-container style="width: 100%" >
		  	<table md-table md-row-select ng-model="vm.selected">
		    	
   				<thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
					<tr md-row>
						<th md-column md-numeric width="25px" md-order-by="id" class="disable-text-selection">ID</th>
						<th md-column md-order-by="username" class="disable-text-selection"> <span> Username </span> </th>
						<th md-column class="disable-text-selection">Role</th>
					</tr>
				</thead>


				<tbody md-body>
		      		<tr md-row md-select="user" md-select-id="{{user.id}}" md-auto-select ng-repeat="user in vm.users">
						<td md-cell>{{user.id}}</td>
						<td md-cell>{{user.username}}</td>
						<td md-cell>{{user.isAdmin?'Admin':'User'}}</td>
					</tr>
				</tbody>

			</table>

		</md-table-container>
</md-content>


<md-button ng-href="/users/add" class="md-fab float-fab ghost-fab" aria-label="Mini FAB">
    <md-icon md-svg-src="img/icons/add.svg"></md-icon>
</md-button>