<md-dialog flex="30" aria-label="Create New Category">
	<md-dialog-content >
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Please enter decryption password</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-icon="close-white"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-input-container class="md-block">
			<label>Password</label>
			<input type="password" ng-model="password">
		</md-input-container>


	</md-dialog-content>

	<md-dialog-actions>
			<md-button class="md-raised md-danger md-padding" ng-click="cancel()">Cancel</md-button>
			<md-button class="md-raised md-primary md-padding" ng-click="submit()">Submit</md-button>
	<md-dialog-actions>

</md-dialog>

