<div layout="row" class="grey-background" layout-align="center start" >
	<div layout="column" class="md-whiteframe-z3 white-background" flex flex-gt-sm="60">

		<md-toolbar >
			<div class="md-toolbar-tools">
				<h3>
					<span ng-bind="vm.text.title"></span>
				</h3>
			</div>
		</md-toolbar>


		<form name="addPasswordForm" class="ghost-padding" ng-submit="vm.submit()">
			
			<md-input-container class="md-block" >
				<label>Title</label>
				<input ng-model="vm.password.title" ng-required="true" name="title" ng-hide="!vm.dom.config.visible.title" ng-disabled="vm.dom.config.locked.title">
				<div ng-messages="addPasswordForm.title.$error">
					<div ng-message="required">A title is required.</div>
				</div>
			</md-input-container>

			<md-input-container class="md-block" >
				<label>Username</label>
				<input ng-model="vm.password.username" ng-hide="!vm.dom.config.visible.username" ng-disabled="vm.dom.config.locked.username"> 
			</md-input-container>


			<div layout="row" layout-align="end center">
				<md-input-container flex class="md-block">
					<label>Password</label>
					<input ng-model="vm.password.password" ng-required="true" ng-hide="!vm.dom.config.visible.password" ng-disabled="vm.dom.config.locked.password">
				</md-input-container>
				<md-button ng-if='vm.decryptEnabled' ng-show="!vm.passwordDecrypted" ng-click='vm.display()' aria-label="Display Password"> Display Password </md-button>
				<md-button ng-if='vm.decryptEnabled' ng-show="vm.passwordDecrypted" ng-click='vm.display()' aria-label="Display Password"> Hide Password </md-button>
				<md-button ng-click="vm.generatePassword()" ng-hide="vm.dom.config.locked.password" ng-disabled="vm.dom.config.locked.password"> Generate Password </md-button>
			</div>

			<md-input-container class="md-block" >
				<label>URL</label>
				<input ng-model="vm.password.url" ng-hide="!vm.dom.config.visible.url" ng-disabled="vm.dom.config.locked.url">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Note</label>
				<!-- <input ng-model="password.note"> -->
				<textarea ng-model="vm.password.note" ng-hide="!vm.dom.config.visible.note" ng-disabled="vm.dom.config.locked.note"></textarea>
			</md-input-container>

			<h3> Category </h3>

			<tree-menu data="vm.categories" on-select='vm.treeSelect' selection='vm.selection'></tree-menu>


			<h3 ng-show="vm.dom.config.visible.shared"> Shared With </h3>

			<md-chips ng-model="vm.sharedWith" md-autocomplete-snap	md-require-match="true" ng-hide="!vm.dom.config.visible.shared" ng-disabled="vm.dom.config.locked.shared">
				
				<md-autocomplete
					md-selected-item="vm.selectedItem"
					md-search-text="vm.searchText"
					md-items="item in vm.querySearch(vm.searchText)"
					md-item-text="item.username"
					placeholder="Shared With">
					
					<span md-highlight-text="vm.searchText">{{item.username}}</span>
				</md-autocomplete>
				
				<md-chip-template>
					<span>
						<strong>{{$chip.username}}</strong>
					</span>
				</md-chip-template>

			</md-chips>





			<md-button type="submit" class="md-primary md-raised" ng-bind='vm.text.submit' aria-label="submit"></md-button>
			<md-button ng-click="vm.cancel()" class="md-primary" ng-bind='vm.text.cancel' aria-label="cancel"></md-button>
		</form>

	</div>
</div>
