<md-content flex="60" flex-offset="20" layout="column" layout-align="start center" layout-padding>


  <section class="md-whiteframe-z1" layout-fill>
	
	<md-toolbar >
		<div class="md-toolbar-tools">
			<h3>
				<span ng-bind="vm.text.title"></span>
			</h3>
		</div>
	</md-toolbar>


	<form name="addPasswordForm" ng-submit="vm.submit()">
		
		<md-input-container class="md-block">
			<label>Title</label>
			<input ng-model="vm.password.title" ng-required="true" name="title">
			<div ng-messages="addPasswordForm.title.$error">
				<div ng-message="required">A title is required.</div>
			</div>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Username</label>
			<input ng-model="vm.password.username">
		</md-input-container>


		<div layout="row" layout-align="end center">
			<md-input-container flex class="md-block">
				<label>Password</label>
				<input ng-model="vm.password.password" ng-required="true">
			</md-input-container>
			<md-button ng-if='vm.decryptEnabled' ng-click='vm.display()' aria-label="Display Password"> Display Password </md-button>
		</div>

		<md-input-container class="md-block">
			<label>URL</label>
			<input ng-model="vm.password.url">
		</md-input-container>

		<md-input-container class="md-block">
			<label>Note</label>
			<!-- <input ng-model="password.note"> -->
			<textarea ng-model="vm.password.note"></textarea>
		</md-input-container>

		<h3> Category </h3>

		<tree-menu data="vm.categories" on-select='vm.treeSelect' selection='vm.selection'></tree-menu>


		<h3> Shared With </h3>

		<md-chips ng-model="vm.sharedWith" md-autocomplete-snap
            md-transform-chip="vm.transformChip($chip)"
			md-require-match="true">
			
			<md-autocomplete
				md-selected-item="vm.selectedItem"
				md-search-text="vm.searchText"
				md-items="item in vm.querySearch(vm.searchText)"
				md-item-text="item.username"
				placeholder="Shared With">
				
				<span md-highlight-text="vm.searchText">{{item.username}}</span>
			</md-autocomplete>
			
			<md-chip-template>
				<span>
					<strong>{{$chip.username}}</strong>
				</span>
			</md-chip-template>

		</md-chips>



		
		<md-input-container ng-if="false">
			<label>State</label>
				<md-select ng-model="ctrl.userState">
					<md-option ng-repeat="category in vm.categories" value="{{category.title}}">
					{{category.title}}
				</md-option>
			</md-select>
		</md-input-container>




		<md-button type="submit" class="md-primary md-raised" ng-bind='vm.text.submit'></md-button>

	</form>


  </section>



</md-content>


