<md-dialog aria-label="Audit Filters">

	<form layout="column" >
		<!-- Object Type -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Select Filters</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
					<md-icon md-svg-icon="close-white" aria-label="close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>


	    <md-dialog-content layout-padding>

			<md-input-container style="margin-top: 20px;" class="md-block">
				<label> Object Type </label>
				<md-select ng-model="vm.objectType">
					<md-option ng-repeat="object in vm.objects" value="{{object.toLowerCase()}}">
						{{object}}
					</md-option>
				</md-select>
			</md-input-container>

			<div layout="row" class="md-block">
				<!-- From Date -->
			    <md-datepicker flex style="margin: 0px" ng-model="vm.date.from" md-placeholder="From Date"></md-datepicker>

			    <!-- To Date -->
				<md-datepicker flex style="margin: 0px" ng-model="vm.date.to" md-placeholder="To Date" ></md-datepicker>
			</div>

			<!-- Host -->
			<md-input-container class="md-block">
				<label>Host</label>
				<md-select ng-model="vm.host">
					<md-option ng-repeat="host in vm.hosts" value="{{host}}">
						{{host}}
					</md-option>
				</md-select>
			</md-input-container>
   		</md-dialog-content>


		<md-dialog-actions layout="row">
			<md-button class="md-primary" ng-click="vm.cancel()" >
				Cancel
			</md-button>
			<md-button class="md-primary md-raised" ng-click="vm.submit()" style="margin-right:20px;" >
				Submit
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>