<md-content flex="60" flex-offset="20" layout="column" layout-align="center center" layout-padding>


  <section class="md-whiteframe-z1" layout-fill>
	
	<md-toolbar >
		<div class="md-toolbar-tools">
			<h3>
				<span ng-bind="vm.title"></span>
			</h3>
		</div>
	</md-toolbar>


	<form name="addPasswordForm" ng-submit="vm.submit()">
		
		<md-input-container class="md-block">
			<label>Title</label>
			<input ng-model="vm.password.title" ng-required="true" name="title">
			<div ng-messages="addPasswordForm.title.$error">
				<div ng-message="required">A title is required.</div>
			</div>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Username</label>
			<input ng-model="vm.password.username">
		</md-input-container>

		<md-input-container class="md-block">
			<label>Password</label>
			<input ng-model="vm.password.password" ng-required="true">
		</md-input-container>

		<md-input-container class="md-block">
			<label>URL</label>
			<input ng-model="vm.password.url">
		</md-input-container>

		<md-input-container class="md-block">
			<label>Note</label>
			<!-- <input ng-model="password.note"> -->
			<textarea ng-model="vm.password.note"></textarea>
		</md-input-container>

		<md-button type="submit" class="md-primary md-raised">Submit</md-button>


	</form>


  </section>



</md-content>


