<md-content flex="60" flex-offset="20" layout="column" layout-align="start center" layout-padding>

	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
		<span>Audit Log</span>
		</div>
	</md-toolbar>

	<!-- exact table from live demo -->
	<md-table-container>
		<table md-table md-row-select="test" multiple ng-model="selected" md-progress="promise">
			<thead md-head md-order="query.order">
				<tr md-row>
				<th md-column><span>Object</span></th>
				<th md-column><span>Object ID</span></th>
				<th md-column><span>Action</span></th>
				<th md-column md-order-by="entry.time"><span>Time</span></th>
				<th md-column><span>Host</span></th>
				</tr>
			</thead>

			<tbody md-body>
				<tr md-row md-select="entry" md-select-id="id" md-auto-select ng-repeat="entry in vm.audit">
				<td md-cell>{{entry.targetType}}</td>
				<td md-cell>{{entry.targetId}}</td>
				<td md-cell>{{entry.action}}</td>
				<td md-cell>{{entry.time}}</td>
				<td md-cell>{{entry.host}}</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
</md-content>